.song {
  padding-top: 50px;
  display: flex;
  color: white;
  justify-content: space-between;
  max-width: fit-content;
  min-height: 100vh;
  margin: 0 auto;
  align-items: start;
}

.sticky_container {
  position: sticky;
  top: 50px;
  min-width: 530px;
  width: 530px;
  padding: 3rem;
}

#back {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  gap: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.arrow {
  font-size: 12px;
}

#back:hover {
  color: white;
  cursor: pointer;
}

.button_container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.button_container a {
  flex: 1;
}

.button_container button {
  width: 100%;
  padding: 0.7rem;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

#second_button {
  background: none;
  border: 1px solid #333;
  color: white;
}

#second_button:hover {
  background-color: #333;
  color: white;
}

.sticky_container h1 {
  font-size: 48px !important;
  margin-bottom: 1rem;
}

.sticky_container table {
  width: 100%;
  margin-top: 0.5rem;
  font-family: "OutfitMedium";
  color: #888888;
}

.sticky_container td {
  border-bottom: 1px solid #333;
  padding: 0.5rem 0;
}

.sticky_container td:nth-child(even) {
  text-align: end;
  font-family: "Zilla";
}

.content {
  max-width: 780px;
  border-left: 1px solid #333;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.song h1 {
  font-family: "Outfit";
  display: flex;
  align-items: center;
  font-size: 26px;
}

.song p {
  font-family: "Zilla", sans-serif;
  font-size: 1.1rem;
  color: #888888;
  margin-bottom: 1rem;
}

#big_text {
  font-family: "Zilla", sans-serif;
  color: #888888;
  font-size: 22px;
  margin-bottom: 1rem;
}

.song h4 {
  border-bottom: 1px solid white;
  width: fit-content;
  font-family: "Outfit";
  line-height: 20px;
  margin: 0.5rem 0;
}

.bullet_point {
  height: 18px;
  width: 18px;
  background-color: #333;
  border: 1px solid grey;
  border-radius: 3px;
  margin-right: 0.5rem;
}

.song div {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

.image_container {
  border-radius: 8px;
  display: flex;
  background-color: #3d3d3d;
  padding: 2rem;
  margin: 1rem 0;
  justify-content: center;
}

.song code {
  background-color: rgb(75, 75, 75);
  color: white;
  display: inline-block;
  border-radius: 4px;
  padding: 0 4px;
  line-height: 1;
  white-space: pre-wrap;
}

.tab {
  border-left: 2px solid #333;
  padding-left: 2rem;
}

#gif {
  max-width: 250px;
  overflow: hidden;
  border-radius: 35px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
}

.song img {
  display: block;
  width: 100%;
  overflow: hidden !important;
  border-radius: 8px;
}

#escrowImage {
  margin: 0;
}

#slim {
  width: 50%;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 1150px) {
  .sticky_container {
    max-width: 530px;
    min-width: auto;
  }
}

@media screen and (max-width: 910px) {
  .song {
    display: flex;
    padding-top: 0;
    flex-direction: column;
  }

  .sticky_container {
    position: relative;
    padding: 2rem;
    min-width: 100%;
    width: 100%;
  }

  .song p {
    font-size: 1rem;
  }

  .song div {
    font-size: 0.9rem;
  }

  #big_text {
    font-size: 20px;
  }

  .content {
    padding: 2rem;
    border-left: none;
  }
}
@media screen and (max-width: 483px) {
  .song {
    padding-top: 0;
  }

  .sticky_container {
    padding: 2rem;
  }

  .content {
    padding: 2rem;
  }

  .image_container {
    padding: 1rem;
  }

  #big_text {
    font-size: 18px;
  }

  #slim {
    width: 100%;
  }
}
