.contact {
  font-family: "Outfit";
  color: var(--hero-name);
  width: 100%;
  overflow-x: hidden !important;
}

.contact a {
  color: var(--border-colour);
  transition: all 0.3s linear;
  text-decoration: none;
}

.contact h4 {
  font-weight: 400;
  text-transform: uppercase;
}

.email {
  font-family: "OutfitMedium";
  text-transform: lowercase !important;
}

.marquee {
  display: flex;
  z-index: 0;
  margin: 0 auto 2rem auto;
  font-size: 100px;
  font-family: "Outfit";
  border-top: 1px solid var(--border-colour);
  border-bottom: 1px solid var(--border-colour);
  width: 80%;
  padding: 2rem 0;
  cursor: pointer;
}

.marquee a:hover {
  color: transparent;
  -webkit-text-stroke: 2px var(--border-colour);
}

.contact ul {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.contact li {
  list-style: none;
}

@media (max-width: 1080px) {
  .marquee {
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  .marquee {
    font-size: 60px;
  }
}

@media (max-width: 570px) {
  .marquee {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .marquee {
    height: 100px;
    line-height: 64px;
    padding: 1rem 0;
  }
}
