.education {
  display: flex;
}

.content_container {
  display: flex;
  justify-content: space-between;
  text-align: start;
  max-width: 700px;
  gap: 4rem;
}

.content_container ul {
  color: var(--hero-name);
  padding-inline-start: 20px;
}

.summary img {
  max-width: 50px;
  max-height: 50px;
  padding: 0.4rem;
  background-color: rgba(66, 67, 62, 0.5);
  border-radius: 10px;
}

.wsu {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.wsu p:nth-child(2) {
  color: var(--border-colour);
}

.wsu span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .education h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 510px) {
  .education h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 395px) {
  .education h3 {
    font-size: 25px;
  }
}
