.hero_nav_links {
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  align-items: center;
  z-index: 999;
  display: flex;
  justify-content: center;
  position: fixed;
}

.hero_nav_logo {
  width: 90%;
}

.loader_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loader_container p {
  text-transform: capitalize;
  color: var(--hero-name);
  font-family: "Zilla";
}

.loader {
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background: lightgreen;
  box-shadow: 0 0 0 0 lightgreen;
  animation: l1 2s infinite;
}

@keyframes l1 {
  100% {
    box-shadow: 0 0 0 10px #0000;
  }
}

.hero_nav_logo ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-items: center;
  font-size: 16px;
  font-family: "Migra";
}
.hero_nav_logo a {
  text-decoration: none;
  font-size: 20px;
  color: var(--hero-name);
}

.hero_nav_links_glass {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-top: none;
  border-left: none;
  border-right: none;
}

.slide_animation {
  border: 1px solid var(--hero-name);
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0.22rem 0;
  width: 180px;
  letter-spacing: 1px;
  cursor: none;
}

.hero_nav_logo li {
  color: var(--hero-name);
}

.marquee span {
  display: flex;
  z-index: 0;
  overflow: visible;
  font-family: "Migra";
  font-size: 16px;
  color: var(--hero-name);
  font-weight: 400;
}

.track {
  z-index: -1;
  position: relative;
  white-space: nowrap;
}
